
<%- include('header'); -%>

<p>This is a product of</p>
<p>  <strong>Divesh Kumar Chordia </strong>  </p>
<p> created on Jun 29-30 2022</p>
<p>
with all the hard work and great content I recieved from the cheerful tutor Angela Yu
</p>
<%- include('footer'); -%>
