<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">

  <title>To Do List</title>
  <link rel="stylesheet" href="css/styles.css">
  <%#<!-- //it will not add it automatically -->%>
  <%#<!-- //we need to add app.use("public")which is visible to server as rest are ignored -->%>

</head>
<body>
<%#  // to prevent any line from printing you need to use this %>
<%# //keep all the logic in app.js server file not this one  %>
<%#   if(kindOfDay==="Sunday" ||kindOfDay==="Saturday") {   %>
